
<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <header>
 
      <!-- <h1>Bienvenue dans l'appli {{title}} ! </h1>
       <main role="main" [hidden]='!auth.IsLogged()'>
         
       </main>-->
       <!-- <app-bandeau [message]="messageLogin" [classe]="classe"></app-bandeau> -->
      <!-- <app-bandeau [message]="messageLogin"></app-bandeau> -->
       <!-- <app-bandeau [type]="bannerType" [message]="bandeauInfo"></app-bandeau> -->
       <app-bandeau [messageIn]='bandeau.bandeauInfo' ></app-bandeau>
    </header>
   <!-- <app-login-form></app-login-form> -->
  </body>
</html>



<router-outlet></router-outlet>
