<!DOCTYPE html>
<html lang="en">
<title>Quizz</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans";}
.w3-bar,button {font-family: "Montserrat", sans-serif;
justify-content: center;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-bar w3-teal w3-hide-small">
  <button routerLink="/accueil" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Accueil</button>  
  <button routerLink="/profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profil</button>
  <button routerLink="/historique" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Historique</button>
  <button routerLink="/quizz" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Quizz</button>
  <a href="index.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Déconnexion</a>
</div>


<header class="w3-container w3-center" style="padding:30px 16px">
  <h1 class="w3-margin w3-jumbo">Quizz</h1>
  </header>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


<!-- <div *ngIf="choixDiff == true" class="w3-container w3-card-4">
  <p>Choisissez un niveau de difficulté</p>
  <div class="d-flex justify-content-center">
      <div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="2" ng-checked="true">Facile
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="3">Moyen
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="4">Difficile
              </label>
          </div>
          <br>
      </div>
  </div>
</div>
-->


<div *ngIf="choixDiff == true" class="w3-container w3-card-4 justify-content-center">
  <p>Choisissez un niveau de difficulté : </p>
  <div class="d-flex justify-content-center">
      <div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="2" ng-checked="true">Facile
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="3">Moyen
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" ng-model="level" name="level" value="4">Difficile
              </label>
          </div>
          <br>
          <br>
          <button type="button" (click)="toThemes();getThemes()" class="btn btn-info">Suivant</button>
      </div>
  </div>
</div>


<div *ngIf="choixTheme == true" class="w3-container w3-card-4" >

  <h5>Sélectionnez un thème :</h5>

  <select class="form-select form-control" (change)="selectTheme($event)">
      <option *ngFor= "let theme of themes" value="{{theme}}" >{{theme}}</option>
  </select>
</div>

<div class="w3-container w3-card-4">
  <div class="container row" *ngIf= "quizz && !showThemes ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Question {{nb_questions+1}}</h3>
      </div>
      <div class="panel-body">
        <p>{{quizz[nb_questions].question}}</p>
      </div>
      <div class="list-group"> 
        <option class="list-group-item" type="radio" *ngFor="let proposition of quizz[nb_questions].propositions; let i = index" (click)="answer(quizz[nb_questions].id , i) ">
          {{proposition}}
        </option>

      </div>
    </div>

  </div>
</div>

</body>
</html>
