<div *ngIf="messageIn">

    <div *ngIf="messageIn == 'Erreur'">
        <p class="alert alert-danger">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>
  
    <div *ngIf="messageIn == 'Connexion réussie !' ">
        <p class="alert alert-success">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>

    <div *ngIf="messageIn != 'Connexion réussie !' && messageIn != 'Erreur' ">
        <p class="alert alert-info">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>
  
  </div>
   
 
 
 <!-- <div class={{classe}}>
	<p class="alert alert-info">{{message}}</p>
</div> -->

 <!--<div *ngIf="edited" class="alert alert-warning alert-dismissible"
    [ngClass]="{
        'alert-warning': typeMessage=='Warning',
        'alert-success': typeMessage=='Success',
        'alert-info': typeMessage=='Info'
    }"

>
    <button type="button" class="close" data-dismiss="alert" (click)='edited=false'>&times;</button>
    <strong>{{typeMessage}}</strong>  {{message}}
</div>  -->

 <!-- <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 
'alert-danger': message.type === 'error', 'alert-warning': message.type === 'warning', 
'alert-info': message.type === 'info' }"
    >
    {{message.text}}
    <span (click)="closeMessage()" style="float:right;cursor: pointer;">
        <i class="fa fa-times" style="font-size:14px"></i></span>
</div> -->
