<div *ngIf="messageIn">

    <div *ngIf="messageIn == 'Erreur'">
        <p class="alert alert-danger">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>
  
    <div *ngIf="messageIn == 'Connexion réussie !' ">
        <p class="alert alert-success">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>

    <div *ngIf="messageIn != 'Connexion réussie !' && messageIn != 'Erreur' ">
        <p class="alert alert-info">{{messageIn}}</p>
      <input type='hidden' [(ngModel)]='messageOut' (change)='onMessageChange()'>
    </div>
  
  </div>
